name: Node.js CD

on: 
  workflow_run:
    workflows: ["Node.js CI"]
    types:
      - completed
    

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_HOST }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/node-app
            git pull origin main
            npm install
            pm2 restart node-app || pm2 start index.js --name node-app
        
